body{
    font-size: 0.9em !important;
}
.A4 {
    background: white;
    width: 29.7cm;
    height: 21cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {
    @page{
        size:A4 landscape;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .A4 {
        box-shadow: none;
        margin: 0;
        width: auto;
        height: auto;
    }

    .noprint {
        display: none;
    }

    .enable-print {
        display: block;
    }
}
