.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:35%;
    left: 45%;
}

button:focus{
    outline: none;
}

/*<editor-fold desc="wrapper">*/

    /*<editor-fold desc="container">*/

.container {
    height:90vh;
    width:100vw;
    max-width:100vw;
    display: flex;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
}

        /*<editor-fold desc="columns">*/

    .columns{
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
        border-right: 2px solid #e9e9e9;
        padding: 2px 0;
        min-width: 5vw;
        position: absolute;
        z-index: 1;
        height: 90vh;
    }

        .sidebuts{
            height: 10vh;
            font-size: 1.5vw;
            cursor: pointer;
            text-decoration: none;
            outline: none;
            color: #665e5e;
            background-color: #f6f6f6;
            border: none;
            display: inline-flex;
        }
            .sidebuts:hover {
                background-color: #ededed;
            }


            .sidebuts:active {
                background-color: #ededed;
            }

                .sidebuts i{
                    text-align: start;
                    align-self: center;
                    padding-left: 5px;
                }

                .sidebuts span{
                    flex:1;
                    padding: 0 10px;
                    text-align: center;
                }

            /*</editor-fold>*/

        /*<editor-fold desc="maincolumn">*/

        .maincolumn{
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            overflow-x: hidden;
            background-color: #f3f3f1;
            width: 100%;
            margin-left: 5vw;
            font-size: 1.2vw;
        }

        .formTab{
            padding: 15px 10px;
            border: 4px solid rgb(232, 232, 232);
            border-radius: 11px;
            background-color: white;
        }

            .group-info{
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;
            }

            .col-info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid #dadada;
                padding: 1em;
            }

            .col-update{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 1px solid #dadada;
                border-top: 1px solid #dadada;
                padding: 1em;
            }
            .col-update button{
                outline: none;
                border: none;
                background-color: inherit;
                padding: 1em 0;
            }

            .col-update button:hover, .col-update button:focus{
                background-color: whitesmoke;
            }

            .col-header{
                color: black;
                flex: 1;
            }

            .col-desc{
                color: gray;
                flex: 1;
            }

        /*</editor-fold>*/


    /*</editor-fold>*/

    .modal-header{
        background-color: #1a1b1c;
        color: white;
     }

    .errormsg{
        color: red;
        font-size: 1.5vw;
    }

    .successmsg{
        color: green;
        font-size: 1.5vw;
    }

    .infomsg{
        color: #3e3ed1;
        font-size: 1.5vw;
    }

/*</editor-fold>*/

