input{
    outline: none;
}

input[type='checkbox']{
    width: 3vw;
    height: 3vh;
}

.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:35%;
    left: 45%;
}

/*main wrapper*/

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  100vw;
}

.container {
    height:90vh;
    width:100vw;
    max-width:100vw;
    display: flex;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-right: 2px solid #e9e9e9;
    padding: 2px 0;
    min-width: 5vw;
    position: absolute;
    z-index: 1;
    height: 90vh;
}

.maincolumn{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    overflow-x: hidden;
    background-color: #f3f3f1;
    width: 100%;
    margin-left: 5vw;
}

.formTab{
    padding: 15px 10px;
    border: 4px solid rgb(232, 232, 232);
    border-radius: 11px;
    background-color: white;
}

.buttons_dif{
    display: inline flex;
    flex-direction: row;
    padding: 1em 0 0 0;
    align-self: center;
}

.sidebuts{
    height: 10vh;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #665e5e;
    background-color: #f6f6f6;
    border: none;
    display: inline-flex;
}
    .sidebuts:hover {
        background-color: #ededed;
    }


    .sidebuts:active {
        background-color: #ededed;
    }

        .sidebuts i{
            text-align: start;
            align-self: center;
            padding-left: 5px;
        }

        .sidebuts span{
            flex:1;
            padding: 0 10px;
            text-align: center;
        }

.button2{
    background-color: #b03434;
    font-size: 3vw;
    border: none;
    color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px;
}

.button2:hover{
    background-color: #8C2D2D;
}

.button3{
    background-color: #447e39;
    font-size: 3vw;
    border: none;
    color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px;
}

.button3:hover{
    background-color: #2E5D2E;
}

.button4{
    background-color: #9f4e4e;
    font-size: 2vw;
    border: none;
    color: #f2f2f2;
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    top: 0;
    position: relative;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.button4:hover{
    background-color: #783b3b;
    top: -10px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);

}

.edittmimabutt{
    border: none;
    background: none;
    color: #41442b;
}


.sub{
    background-color: white;
    border: none;
    color: #b03434;
    border-radius: 10px;
    padding: 8px;
}

.sub:hover{
    background-color: #8C2D2D;
}

.add{
    background-color: white;
    border: none;
    color: #447e39;
    border-radius: 10px;
    padding: 8px;
}

.add:hover{
    background-color: #2E5D2E;
}



.itembuttons {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
}

.formcontainer{
    display: flex;
    flex: 4;
    flex-direction: column;
    margin:1em;
    overflow-x: hidden;
}

.tabcontent{
    margin: 1em;
}


.itemhead{
    flex: 1;
    padding-bottom: 2em;
    text-align: center;
    flex-direction: row;
    display: flex;
}

    .barcode_search{
        flex:1;
        margin-right: 2em;
        background-color: inherit;
        border: none;
        font-size: 4vw;
        outline: none;
    }

        .barcode_search:focus{
            outline: none;
        }

    .headrowRbutton{
        flex: 2;
        height: 8vh;
        font-size: 2vw;
        color: white;
        background-color: #6a7c7c;
        border-radius: 8px;
        margin-left: 10px;
        outline: none;
        display: flex;
        justify-content: center;
    }

    .headrowRbutton:hover{
        background-color: #465353;
        color: white;
    }

    .headrowLbutton{
        flex: 2;
        height: 8vh;
        font-size: 2vw;
        background-color: #568f56;
        color: white;
        border-radius: 8px;
        margin-left: 10px;
        outline: none;
        display: flex;
        justify-content: center;
    }
    .headrowLbutton:hover{
        background-color:#396039;
        color: white;
    }

.inlineflex{
    display: inline-flex;
    align-items: baseline;
    margin-left: 3px;
    padding-right: 2em;

}
    .inlineflex input{
        margin-left: 5px;
    }

.row2{
    flex:1;
    display: flex;
}

.itembody{
     display: flex;
     flex: 3;
     flex-direction: column;
    font-size: 1.6vw;
 }
.row1{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0;
    align-items: baseline;
}

.allagi_mothercode {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

.itemrow{
    display:flex;
    flex-direction: row;
}
.formrow {
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    margin-bottom: 15px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
    flex: 1;
    padding-left: 5px;
    min-width: 20%;
    margin-right: 5px;
}

.formrow:focus{
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;
}

.groupinfo{
    font-size: 2rem;
    text-align: center;
    flex: 1;
    background-color: aliceblue;
    margin-bottom: 2rem;
}

.rowdate{
    display: flex;
    flex-direction: row;
    flex: 3;
    margin: 0;
    align-self: center;
}

.perday{
    width:30%;
    padding: 20px 5px;
    margin-right: 0.5em;
    box-shadow: none;
    background-color: #98b0ae;
    color: black;
    border: 4px solid #4B5355;
    border-radius: 11px;
}

.perday:hover{
    background-color: #473b43;
    color: white;
}

.perdate{
    width:100%;
    padding: 20px 2px;
    cursor: cell;
    background-color: white;
    color: black;
    border: 1px solid #98b0ae;
    border-radius: 11px;
}

   /* .modal_pinakes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .modal_tmimata{
        font-size: 2vw;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .mod_form{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .mod_form input, .modal_tmimata input{
        font-weight: normal;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        margin-bottom: 20px;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        clear: both;
        text-align: center;
        height: 6vh;
        width: 100%;
    }


        .mod_form input:focus,.modal_tmimata input:focus{
            background: #fff;
            box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
            outline: none;
        }

    */

/*<editor-fold desc="sameBarcode modal">*/

.sameBarcodeGroup{
    display: flex;
    flex-direction: column;
}

.sameBarcodeProion{
    font-size: 1.6rem;
    min-height: 12vh;
    height: 12vh;
    border-radius: 3px;
    background-color: #ebe4d9;
    flex: 1;
}

/*</editor-fold>*/


/*-inventory modal-*/

#inventory .modal-dialog{
    width: 80vw;
}

.flexgroup{
    display: flex;
    flex:1;
    flex-flow: row wrap;
}

    .groupbut{
        font-size: 2vw;
        height: 13vh;
        border-radius: 3px;
        background-color: #ebe4d9;
        flex: 25%;
        max-width: 25%;
    }

    .close{
        color: white !important;
        font-size: 3em;
        opacity: .8 !important;
    }

.icon{
    font-size: 3vw;
    padding-right: 5px;
}

.tmimabody{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.dates{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

    .daybutton{
        height: 8vh;
        width: 50%;
        background-color: #6a7c7c;
        color: white;
        border-radius: 8px;
        margin:0 2px;
        outline: none;
        font-size: 2vw;
        display: flex;
        justify-content: center;

    }

        .daybutton:hover{
            background-color: #465353;
            color: white;
        }

.input-group{
    flex: 2;
}

.input-group .form-control{
    min-width: 60%;
    height: 8vh;
    font-size: 1.8vw;
}

.input-group-addon{
    font-size: 1.8vw !important;
}


.datesearch{
    height: 8vh;
    font-size: 3vw;
    background-color: white;
    border:none;
    margin:0 2px;
    outline: none;
}

    .datesearch:hover{
        color: #893834;
    }

.search-group{
    display: flex;
    flex-direction: row;
    padding: 0 1em;
}

.search-group input{
    flex: 1;
    padding: 1em;
    font-size: 1.5vw;
    border-radius: 10px;
}

.search-group input:focus{
    outline: none;
}

/*<editor-fold desc="modal barcode">*/
#bcodeModal{
    top:5vh !important;
    left: 25vw !important;
    max-height: 72vh;
}

#bcodeModal .modal-header{
    color: black !important;
    border-bottom: none !important;
}

#bcodeModal .modal-content{
    display: flex;
    flex-direction: column;
}

#bcodeModal .modal-dialog{
    width: 75vw;
    margin: 0;
}
/*
.numpad{
    display: flex;
    flex-direction: column;
    background: #a6a6a5;
    flex:6;
}

.numpad-open{
    z-index: 1050;
}
.num-controls{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: aliceblue;
}

.numrow{
    flex:1;
    -webkit-flex: 1;
    display: flex;
    flex-direction: row;
}

.numbutton{
    flex:1;
    -webkit-flex: 1;
    display: flex;
    max-width: 25vw;

}
.numbutton button
{
    width: 100%;
    font-size: xx-large;
    background-color: #e6e6e6;
    border:#bcbcbc;
    border-style: solid;
    border-width: thin;
    border-right: none;
    border-bottom:none;
}
.numbutton button:focus{
    outline: none;
}
.numbutton input[type="text"]{
    width: 100%;
    font-size: x-large;
    background-color: rgba(154, 182, 252, 0.4);
    border:#bcbcbc;
    border-style: solid;
    border-width: thin;
    border-right: none;
    border-bottom:none;
    text-align: center;
}*/
.closebutton{
    flex:1;
    -webkit-flex: 1;
    display: flex;
    max-width: 25vw;

}

.closebutton button
{
    background-image: linear-gradient(#ff4d4d, #ff1a1a) !important;
    text-shadow: 0px -1px #ff1a1a !important;
    box-shadow: 0px 2px 5px -3px #ff4d4d;
    border-radius: 3%;
    width: 100%;
    font-size: xx-large;
}
.closebutton button:focus{
    outline: none;
}
.savebutton{
    flex:1;
    -webkit-flex: 1;
    display: flex;
    max-width: 25vw;
}

.savebutton button
{
    background-image: linear-gradient(#85e085, #33cc33);
    text-shadow: 0px -1px #33cc33;
    box-shadow: 0px 2px 5px -3px #85e085;
    border-radius: 3%;
    width: 100%;
    font-size: xx-large;
}
.savebutton button:focus{
    outline: none;
}

.submitbtn{
    color: #56a256;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 3vw;
}

.typos_quantity{
    width: 6vw;
    border-radius: 8px;
    background-color: aliceblue;

}

.returns_header{
    display: flex;
}

.promitheia{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 12px;
    border-radius: 7px;
    padding: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
    .promitheia div{
        flex: 1;
    }

    .promitheia span{
        font-weight: bold;
    }

.returns_search{
    flex: 2;
    align-self: center;
}

.results{
    flex: 1;
    margin: 2vh 0;
    width: 100%;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #bedde7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .results:focus{
        border: 3px solid #bedde7 !important;
    }
/*</editor-fold>*/

/*<editor-fold desc="modal overwrite">*/

.modal-header{
    background-color: #1a1b1c;
    color: white;
}

/*</editor-fold>*/

/*<editor-fold desc="table overwrite">*/
.table-responsive{
    font-size: 1.5vw;
}

.table tbody{
    display: block;
    max-height: 70vh;
    overflow-y: scroll;
}

#collapse6 .table tbody{
    max-height: 50vh !important;
}

.table tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

/*</editor-fold>*/

/*<editor-fold desc="nav overwrite">*/
.nav-tabs > li > a{
    font-size: 1.5vw !important;
    color: #8b6262;

}

.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:active,.nav-tabs > li.active > a:hover{
    font-size: 1.5vw !important;
    color: #555 !important;
}
/*</editor-fold>*/

/*<editor-fold desc="alert-msg">*/

.errormsg{
    color: red;
    font-size: 1.5vw;
}

.successmsg{
    color: green;
    font-size: 1.5vw;
}

.infomsg{
    color: #3e3ed1;
    font-size: 1.5vw;
}
/*</editor-fold>*/

/*</editor-fold>*/


/*</editor-fold>*/
