button{
    outline: none;
}

button:focus, button:active, button:hover{
    outline: none;
}

select{
    outline: none;
}

select:focus{
    outline: none;
}

.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:35%;
    left: 45%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  100vw;
}

.container {
    flex: 9;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}

.columns{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-right: 2px solid #e9e9e9;
    padding: 2px 0;
    min-width: 5vw;
    position: absolute;
    z-index: 1;
    height: 90vh;
}

.sidebuts{
    height: 10vh;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #665e5e;
    background-color: #f6f6f6;
    border: none;
    display: inline-flex;
}
    .sidebuts:hover {
        background-color: #ededed;
    }


    .sidebuts:active {
        background-color: #ededed;
}

        .sidebuts i{
            text-align: start;
            align-self: center;
            padding-left: 5px;
        }

        .sidebuts span{
            flex:1;
            padding: 0 10px;
            text-align: center;
        }

.maincolumn{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    overflow-x: hidden;
    background-color: #f3f3f1;
    width: 100%;
    margin-left: 5vw;
}

.formTab{
    padding: 15px 10px;
    border: 4px solid rgb(232, 232, 232);
    border-radius: 11px;
    background-color: white;
}

.search_column{
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
}
    .search_column input{
        flex: 4;
        padding: 10px;
        text-align: center;
        font-size: 1.6vw;
        background: #f5f5f5;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        clear: both;
    }

    .search_column input:focus{
        background: #fff;
        box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
        outline: none;
    }

    .search_column button{
        flex: 1;
        outline: none;
        border: none;
        background-color: inherit;
        font-size: 3vw;
    }

    .search_column button:focus{
        color: #983a36;
    }

.head_column{
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    font-size: 1.5vw;
    justify-content: center;
}

    .head_column button{
        flex: 1;
        margin-left: 10px;
        border-radius: 5px;
    }

.formset{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

.rowform{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 2px 0;
}

.spacediv{
    flex: 6;
}

    .customerBarcodeBtn{
        border: none;
        font-size: 4vw;
        background-color: inherit;
    }

    .supplierBarcodeBtn{
        border: none;
        font-size: 4vw;
        background-color: inherit;
    }

.setbtn{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.setbtn button{
    color: #33cc33;
    font-size: 3vw;
    border: none;
    outline: none;
    background-color: white;
    flex: 1;
    align-self: center;
    max-width: 2em;
}

.setbtn button:active{
    font-size: 3.1vw;
}

.spanval{
    font-size: 1.5vw;
    flex: 1;
    align-self: center;
    text-align: right;
    margin-left: 3px;
}

.inputval{
    font-size: 1.5vw;
    flex: 3;
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    margin-left: 3px;
    width: 33.3%;
}

.inputval:focus{
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;
}

.results{
    flex: 1;
    margin: 2vh 0;
    width: 100%;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #bedde7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.5vw;
}

.formbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin-top: 2em;
}

.submitbtn{
    color: #447e39;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 3vw;
}

.resetbtn{
    color: #b03434;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 3vw;
}

.cartbtn{
    color: #4a8790;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 3vw;
}

.printbtn{
    color: #8c8585;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 3vw;
}

.quickmessage{
    font-size: 2vw;
    color: #5fa75f;
}

.info_msg{
    text-align: center;
}

/*<editor-fold desc="table overwrite">*/
.table-condensed{
    font-size: 1.2vw;
    background-color: aliceblue !important;
}

.table-responsive{
    margin-top: 2em;
    font-size: 1.5vw;
}

.table thead, .table tfoot{

}

.table tbody{
    display: block;
    max-height: 60vh;
    overflow-y: scroll;
}

.table tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table select,.table input{
    outline: none;
    width: 100%;
}

.table input:-moz-read-only,.table select:-moz-read-only{
    background-color: inherit;
    border: none;
}

.table input:read-only, .table input:disabled, .table select:disabled{
    background-color: inherit;
    border: none;
}

.pliromi_paralavis input{
    border: 2px solid #beb065 !important;
    padding: 2px;
    border-radius: 3px;
}

.table button{
    font-size: 3vw;
}

.tickets_forms{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    margin: 5px;
    justify-content: space-evenly;
}

.tickets_forms button{
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    width: 45%;
}

.deltio_form{
    display: flex;
    flex-direction: column;
}

.deltio_header{
    display: flex;
    font-size: 1.6vw;
    margin-bottom: 15px;
    flex-direction: column;
}

.parastatiko{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    flex: 1;
}

    .parastatiko input{
        padding: 6px;
        border-radius: 5px;
        border: 3px solid #beb065;
    }

    .parastatiko select{
        padding: 6px;
        border-radius: 5px;
        border: 3px solid #beb065;
        background-color: inherit;
    }

    .parastatiko_extra{
        flex: 3;
        display: flex;
    }

        .parastatiko_date{
            flex: 2;
            display: flex;
            justify-content: flex-end;
        }

            .parastatiko_extra input{
                background-color: inherit;
            }

.search_parastatiko{
    display: flex;
    margin-bottom: 10px;
}

    .search_parastatiko textarea{
        padding: 6px;
        border-radius: 5px;
        border: 3px solid #beb065;
        width: 20%;
        outline: none;
    }

.deltio_footer{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5vw;
}

    .deltio_footer button{
        padding: 10px;
        border-radius: 5px;
        margin: 0 5px;
    }

    .deltio_footer input{
        width: 3vw;
        height: 3vh;
    }

.form_paralavis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline_checkbox{
    padding: 0 10px;
}

.eksoflisi input{
    border: 2px solid green;
    border-radius: 5px;
}

.deltiaInProgress_header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.8vw;
}
    .deltiaInProgress_header button{
        background-color: #ecebe2;
        padding: 15px;
        border-radius: 10px;
        outline: none;
    }
/*</editor-fold>*/

/*<editor-fold desc="input-group overwrite">*/
.input-group{
    flex: 3;
}

.input-group input{
    font-size: 1.5vw !important;
    height: inherit;
}

.input-group-addon{
    font-size: 1.5vw !important;
}

/*</editor-fold>*/

/*<editor-fold desc="nav overwrite">*/
.nav-tabs > li > a{
    font-size: 1.5vw !important;
    color: #8b6262;

}

.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:active,.nav-tabs > li.active > a:hover{
    font-size: 1.5vw !important;
    color: #555 !important;
}
/*</editor-fold>*/

/*<editor-fold desc="modal overwrite">*/

div#supplierTicket, div#ordersInProgressInProgress, div#customerTicket{
    overflow-y: auto;
}

#supplierTicket .modal-dialog,#ordersInProgress .modal-dialog,#customerTicket .modal-dialog{
    width: 100%;
}

#allPersons .modal-dialog{
    width: 90%;
}

.modal-header{
    background-color: #1a1b1c;
    color: white;
}

.flexgroup{
    display: flex;
    flex:1;
    flex-flow: row wrap;
}

    .groupbut{
        font-size: 1.4vw;
        height: 13vh;
        border-radius: 3px;
        background-color: #ebe4d9;
        flex: 25%;
        max-width: 25%;
        word-break: break-all;
    }

    .close{
        color: white !important;
        font-size: 3em;
        opacity: .8 !important;
    }

.icon{
    font-size: 3vw;
}

.resetButton{
    background-color: #b03434;
    font-size: 3vw;
    border: none;
    color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px;
}

.resetButton:hover{
    background-color: #8C2D2D;
}

.submitButton{
    background-color: #447e39;
    font-size: 3vw;
    border: none;
    color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px;
}

.submitButton:hover{
    background-color: #2E5D2E;
}
/*</editor-fold>*/

/*<editor-fold desc="alert-msg">*/

.errormsg{
    color: red;
    font-size: 1.5vw;
}

.successmsg{
    color: green;
    font-size: 1.5vw;
}

.infomsg{
    color: #3e3ed1;
    font-size: 1.5vw;
}
/*</editor-fold>*/