@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;


}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    height: 100vh;
}

.error{
    color: #a54f4f;
    font-size: 1.5vw;
    flex: 1;
    align-self: center;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.columns{
    flex:1;
}

.loginbody{
    flex:2;
    display: flex;
    flex-direction: column;
}

.logo{
    flex: 1;
}

select{
    font-size: 1.5em !important;
    padding: unset !important;
    text-align: center;
}

.form-signin {
    padding: 30px 0;
    position: relative;
    z-index: 2;
    flex:1;
}


    .form-signin input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        width: 100%;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: black;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        font-weight: 300;
        margin-bottom: 20px;
    }
        .form-signin input:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
        .form-signin input:focus {
            background-color: white;
            color: black;
        }
.btn {
    background-color: #a38e4d;
    border: 0;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5em;
}
.btn:hover {
    background-color: #8b7841;
    color: white;
}

.btn:active:hover {
    background-color: #8b7841;
    color: white;
}

.btn:active:focus {
    background-color: #8b7841;
    color: white;
}

/*<editor-fold desc="alert-msg">*/

.errormsg{
    color: red;
    font-size: 1.5vw;
}

.successmsg{
    color: green;
    font-size: 1.5vw;
}

.infomsg{
    color: #3e3ed1;
    font-size: 1.5vw;
}

/*</editor-fold>*/



@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}