.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:35%;
    left: 45%;
}

button:focus{
    outline: none;
    border: none;
}


    /*<editor-fold desc="container">*/
    .container {
    height:90vh;
    width:100vw;
    max-width:100vw;
    display: flex;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    overflow-style: move;
    }
        /*<editor-fold desc="itemscontainer">*/
        .itemcontainer{
            flex: 3;
            display: flex;
            flex-direction: row;
        }

            /*<editor-fold desc="items layout">*/
            .items
            {
                flex: 1;
                display: flex;
                flex-direction: column;
                background: #ececec;
                max-height: 71vh;
                overflow-y: auto;
                overflow-style: move;
                flex-wrap: wrap;
            }

                .items button{
                    flex: 20%;
                    display: flex;
                    width: 50%;
                    justify-content: space-around;
                    background-image: linear-gradient(#80bfff, #4da6ff);
                    border-radius: 8%;
                    font-size: 1.3vw;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-shadow: 0px -1px #4da6ff;
                    box-shadow: 0px 2px 5px -3px #80bfff;
                    max-height: 14.2vh;
                    height: 14.2vh;
                    word-break: break-all;
                }
            /*</editor-fold>*/

            /*<editor-fold desc="main_display layout">*/
            .main_display{
                display: flex;
                flex-direction: column;
                flex: 3;
            }

                .main_display input[type="text"]{
                    flex: 1;
                    border:none;
                    background: transparent;
                    width: 100%;
                    text-align: center;
                    color:transparent;
                    text-shadow: 0 0 0 #000;
                    max-width: 100%;
                    height: 100%;
                    max-height: 100%;
                }
                .main_display input[type="text"]:focus{
                    outline: none;
                }
            /*</editor-fold>*/

            /*<editor-fold desc="tmimata-layout">*/
            .tmimata
            {
                flex: 1;
                display: flex;
                flex-direction: column;
                background: #ececec;
                overflow-y: hidden;
                overflow-style: move;
                flex-wrap: wrap;
                padding: 0.1%;
                align-content: flex-start;
            }

                .tmimata .rowbutton
                {
                    display: flex;
                    height: 50%;
                    width: 33.3%;
                }

                    .tmimata .rowbutton button
                    {
                        flex: 1;
                        justify-content: space-around;
                        background-image: linear-gradient(#bcbcbc, #f5f5f533);
                        border-radius: 5%;
                        border-bottom-right-radius: 10%;
                        font-size: 1.3vw;
                        text-shadow: 0px 0px #a6a6a6;
                        box-shadow: 0px 2px 5px -3px #bfbfbf;
                        color:#494949;
                        height: 100%;
                        word-break: break-all;
                    }
                /*</editor-fold>*/

        /*</editor-fold>*/

        /*<editor-fold desc="tameio layout">*/
        .tameiocontainer{
            flex: 1;
            display: flex;
            flex-direction: row;
            max-height: 24vh;
        }
            /*<editor-fold desc="othoni apodikseon">*/
            .itemsdisplay{
                flex: 9;
                background: ghostwhite;
                border-bottom: none;
                display: flex;
                flex-direction: column-reverse;
                overflow-y: auto;
                overflow-style: move;
                max-height: 64vh;
            }
                /*<editor-fold desc="grammi apodiksis">*/
                .itemsdisplay .line
                {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.5vw;
                    min-height: 4.25vh;
                    max-height: 4.25vh;
                    margin-bottom: 4.25vh;
                    padding: 0 5px;
                }
                    .itemsdisplay .line .perigrafi
                    {
                        flex: 40%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                        .itemsdisplay .line .perigrafi input{
                            text-align: start;
                            font-size: 1.5vw;
                            text-wrap: normal;
                        }

                    .itemsdisplay .line .stock
                    {
                        flex: 10%;
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        font-size: 1.3vw;
                        color: rgba(45, 45, 71, 0.6);
                    }

                    .itemsdisplay .line .temaxia
                    {
                        flex:20%;
                        display: flex;
                        flex-direction: row;

                    }
                        .itemsdisplay .line .temaxia .minus
                        {
                            flex: 1;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: 3vw;
                        }

                            .itemsdisplay .line .temaxia .minus button
                            {
                                color: red;
                                background: none;
                                border: none;
                            }

                        .itemsdisplay .line .temaxia .text
                        {
                            flex: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.5vw;

                        }


                        .itemsdisplay .line .temaxia .plus
                        {
                            flex: 1;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            font-size: 3vw;

                        }
                           .itemsdisplay .line .temaxia .plus button
                            {
                                color: #33cc33;
                                background: none;
                                border: none;
                            }


                    .itemsdisplay .line .text-desc{
                        flex: 5%;
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        font-size: 1.3vw;
                        color: rgba(45, 45, 71, 0.6);
                    }
                     .itemsdisplay .line .price
                     {
                         flex: 20%;
                         display: flex;
                         flex-direction: row;
                         justify-content: flex-end;
                         align-items: center;
                         text-align: center;

                     }

                                .itemsdisplay .line .price .eurosunolo{
                                    flex: 1%;
                                    justify-content: center;
                                    font-size: 2vw;
                                }
                                .itemsdisplay .line .price .input{
                                    flex: 3;
                                    justify-content: center;
                                    font-size:2vw;
                                }

                                .itemsdisplay .line .price .pre_sunolo{
                                    flex: 3;
                                    justify-content: center;
                                    font-size:2vw;
                                }

                    .itemsdisplay .line .delete
                    {
                        flex: 5%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        font-size: 3vw;
                    }

                        .itemsdisplay .line .delete button
                        {
                            color: red;
                            background: none;
                            border: none;
                        }
                /*</editor-fold>*/

            /*</editor-fold>*/

                    /*<editor-fold desc="mikri othoni">*/
                    .screen{
                        flex: 1;
                        -webkit-flex: 1;
                        display: flex;
                        flex-direction: row;
                        background:ghostwhite;
                        border-top: solid #a6a6a5;
                        color: #000000;
                        max-height: 7vh;
                    }


                        .screen .barcode
                        {
                            flex: 3;
                            -webkit-flex: 3;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: 2.5vw;
                            border-right: solid #a6a6a5;
                            justify-content: center;
                        }
                            .screen .barcode button
                            {
                                display: flex;
                                flex: 20%;
                                -webkit-flex: 20%;
                                justify-content: center;
                                border: none;
                                background-color: inherit;
                            }
                            .screen .barcode .text
                            {
                                display: flex;
                                flex: 80%;
                                -webkit-flex: 80%;
                                justify-content: flex-end;
                            }
                                .screen .barcode .text input{
                                }
                        .screen .numbers
                        {
                            flex: 1;
                            -webkit-flex: 1;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: 2.5vw;
                            border-right: solid #a6a6a5;
                            justify-content: center;
                        }

                            .screen .numbers i
                            {
                                display: flex;
                                flex: 20%;
                                -webkit-flex: 20%;
                                justify-content: center;
                            }

                            .screen .numbers button
                            {
                                width:100%;
                                flex:1;
                                background-image: linear-gradient(#80bfff, #4da6ff);
                                text-shadow: 0px -1px #4da6ff;
                                box-shadow: 0px 2px 5px -3px #80bfff;
                                outline: none;
                                height: 100%;
                            }

                    /*</editor-fold>*/

                    /*<editor-fold desc="pliktrologio">*/
                    .numpad{
                        display: flex;
                        flex-direction: column;
                        background-color: #a1acc8;
                        flex:6;
                    }
                        /*<editor-fold desc="show numpad">*/
                        .numpad-open{
                            z-index: 1050;
                        }
                        /*</editor-fold>*/
                    .num-controls{
                        display: flex;
                        flex-direction: column;
                        flex:1;
                        background-color: aliceblue;
                    }

                        .numrow{
                             flex:1;
                             -webkit-flex: 1;
                             display: flex;
                             flex-direction: row;
                         }

                        .numrow img{
                            width: 10vw;
                            height: 8vh;
                        }
                        .money img{
                            height: 100%;
                            width: 100%;
                        }

                        .paymentrow{
                            flex:1;
                            -webkit-flex: 1;
                            display: flex;
                            flex-direction: row;
                            overflow-x: auto;
                            min-width: 75vw;
                        }

                            .paymentrow button{
                                font-size: 2vw !important;
                                background-color: #dedda1 !important;
                            }

                            .pistosibtn{
                                display: flex;
                                flex-direction: row;
                                background-image: linear-gradient(#ffff33,#FFFF00);
                                text-shadow: 0px -1px #FFFF00;
                                box-shadow: 0px 2px 5px -3px #ffff33
                            }

                                .pistosibtn i{
                                    flex: 20%;
                                }

                                .pistosibtn .text{
                                    display: flex;
                                    justify-content: center;
                                    flex: 80%;
                                }

                            .discountbtn{
                                background-image: linear-gradient(#df9f9f, #d27979);
                                text-shadow: 0px -1px #d27979;
                                box-shadow: 0px 2px 5px -3px #df9f9f;
                                display: flex;
                                flex-direction: row;
                            }
                                .discountbtn i{
                                    flex: 20%;
                                }

                                .discountbtn .text{
                                    display: flex;
                                    justify-content: center;
                                    flex: 80%;
                                }

                            .apodeiksi_btn{
                                flex: 1;
                                -webkit-flex: 1;
                                display: flex;
                                flex-direction: row;
                                overflow-x: auto;
                                max-width: 25vw;
                            }

                                .apodeiksi_btn button{
                                    display: flex;
                                    flex-direction: row;
                                }

                                .apodeiksi_btn button i{
                                    display: flex;
                                    flex: 20%;
                                    justify-content: flex-start;
                                    align-items: center;
                                }

                                .apodeiksi_btn button .text{
                                    display: flex;
                                    justify-content: center;
                                    flex: 80%;
                                }

                            .numbutton{
                                flex:1;
                                -webkit-flex: 1;
                                display: flex;
                                max-width: 25vw;
                                min-width: 25vw;

                            }
                                .numbutton button
                                {
                                    width: 100%;
                                    font-size: 2.5vw;
                                    background-color: #e6e6e6;
                                    border:#bcbcbc;
                                    border-style: solid;
                                    border-width: thin;
                                    border-right: none;
                                    border-bottom:none;
                                }

                                .numbutton input[type="text"]{
                                    width: 100%;
                                    font-size: 2vw;
                                    background-color: rgba(154, 182, 252, 0.4);
                                    border:#bcbcbc;
                                    border-style: solid;
                                    border-width: thin;
                                    border-right: none;
                                    border-bottom:none;
                                    text-align: center;
                                }

                                .input_i{
                                    font-size: 2.5vw;
                                    text-align: center;
                                    flex: 20%;
                                    align-self: center;
                                }

                                .cash_field{
                                    background-color: inherit !important;
                                    border-left: none !important;
                                }

                                .closebutton{
                                    flex:1;
                                    -webkit-flex: 1;
                                    display: flex;
                                    max-width: 25vw;

                                }

                                .closebutton button
                                {
                                    background-image: linear-gradient(#ff4d4d, #ff1a1a) !important;
                                    text-shadow: 0px -1px #ff1a1a !important;
                                    box-shadow: 0px 2px 5px -3px #ff4d4d;
                                    border-radius: 3%;
                                    width: 100%;
                                    font-size: 2.5vw;
                                }

                                .savebutton{
                                    flex:1;
                                    -webkit-flex: 1;
                                    display: flex;
                                    max-width: 25vw;
                                }

                                .savebutton button
                                {
                                    background-image: linear-gradient(#85e085, #33cc33);
                                    text-shadow: 0px -1px #33cc33;
                                    box-shadow: 0px 2px 5px -3px #85e085;
                                    border-radius: 3%;
                                    width: 100%;
                                    font-size: 2.5vw;
                                }

                                .wholesumbutton{
                                    flex:1;
                                    -webkit-flex: 1;
                                    display: flex;
                                    max-width: 25vw;
                                }

                                .wholesumbutton button
                                {
                                    background-image: linear-gradient(#85e085, #33cc33);
                                    text-shadow: 0px -1px #33cc33;
                                    box-shadow: 0px 2px 5px -3px #85e085;
                                    border-radius: 3%;
                                    width: 100%;
                                    font-size: 2vw;
                                }

                                 /*</editor-fold>*/

                /*</editor-fold>*/

                /*<editor-fold desc="Leitourgies">*/
                .function{
                    flex:1;
                    -webkit-flex: 1;
                    display: flex;
                    flex-direction: row;
                    background: #a6a6a5;
                    padding: 0.1%;
                    max-width: 50vw;
                }
                    .function1{
                       display: flex;
                        flex: 1;
                        flex-direction: row;
                        max-width: 25vw;
                        overflow-x: auto;
                        overflow-style: move;
                    }

                    .function2{
                        flex:1;
                        -webkit-flex: 1;
                        flex-direction: column;
                        align-content: center;
                    }

                    .function3{
                        display: flex;
                        flex: 1;
                        flex-direction: row-reverse;
                        max-width: 25vw;
                        overflow-y: auto;
                        overflow-style: move;
                    }

                    .functionsbuttons
                    {
                        flex: 1;
                        -webkit-flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        max-width: 25vw;
                    }

                        .functionsbuttons .oliki
                        {
                            background-image: linear-gradient(#f37272, #ef4b4b);
                            text-shadow: 0px -1px #ef4b4b;
                            box-shadow: 0px 2px 5px -3px #f37272;
                            flex: 1;
                            min-width: 12.5vw;
                        }

                        .functionsbuttons .allagi
                        {
                            background-image: linear-gradient(#ccffff, #eaf9f9);
                            text-shadow: 0px -1px #eaf9f9;
                            box-shadow: 0px 2px 5px -3px #ccffff;
                            flex: 1;
                            min-width: 12.5vw;
                        }

                        .xeirografi
                        {
                            background-image: linear-gradient(#99ccff, #66b3ff);
                            text-shadow: 0px -1px #66b3ff;
                            box-shadow: 0px 2px 5px -3px #99ccff;
                            flex: 1;
                            min-width: 12.5vw;
                        }

                        .timologio
                        {
                            background-image: linear-gradient(#ccffff, #eaf9f9);
                            text-shadow: 0px -1px #eaf9f9;
                            box-shadow: 0px 2px 5px -3px #ccffff;
                            flex: 1;
                            min-width: 12.5vw;
                        }
                        .sunolo
                        {
                            background-image: linear-gradient(#85e085, #33cc33);
                            text-shadow: 0px -1px #33cc33;
                            box-shadow: 0px 2px 5px -3px #85e085;
                        }
                            #sunolo{
                                font-size: 2vw;
                            }
                        .functionsbuttons .meriko
                        {
                            background-image: linear-gradient(#ffff33,#FFFF00);
                            text-shadow: 0px -1px #FFFF00;
                            box-shadow: 0px 2px 5px -3px #ffff33;
                        }

                        .functionsbuttons .undo_card
                        {
                            background-image: linear-gradient(#ffff33,#FFFF00);
                            text-shadow: 0px -1px #FFFF00;
                            box-shadow: 0px 2px 5px -3px #ffff33;
                            max-width: 4vw;
                        }
                        .functionsbuttons .members
                        {
                            background-image: linear-gradient(#99ccff, #66b3ff);
                            text-shadow: 0px -1px #66b3ff;
                            box-shadow: 0px 2px 5px -3px #99ccff;
                            flex: 1;
                            min-width: 12.5vw;
                        }

                        .functionsbuttons .discount
                         {
                            background-image: linear-gradient(#df9f9f, #d27979);
                            text-shadow: 0px -1px #d27979;
                            box-shadow: 0px 2px 5px -3px #df9f9f;
                             flex: 1;
                             min-width: 12.5vw;
                         }
                        .functionsbuttons .primary_desc
                            {
                            background-image: linear-gradient(#ccffff, #eaf9f9);
                            text-shadow: 0px -1px #eaf9f9;
                            box-shadow: 0px 2px 5px -3px #ccffff;
                            flex: 1;
                            min-width: 12.5vw;
                            }

                        .functionsbuttons .alternative_desc
                        {
                            background-image: linear-gradient(#f37272, #ef4b4b);
                            text-shadow: 0px -1px #ef4b4b;
                            box-shadow: 0px 2px 5px -3px #f37272;
                            flex: 1;
                            min-width: 12.5vw;
                        }

                        .functionsbuttons .timologio
                        {
                            background-image: linear-gradient(#df9f9f, #d27979);
                            text-shadow: 0px -1px #d27979;
                            box-shadow: 0px 2px 5px -3px #df9f9f;
                            flex: 1;
                            min-width: 12.5vw;
                        }



                        .functionsbuttons button{
                            width: 100%;
                            border-radius: 5%;
                            font-size: 1.5vw;
                            display: flex;
                            flex-direction: row;
                            align-items: inherit;
                            height: 100%;
                            overflow-y: hidden;

                            }

                                .functionsbuttons button i{
                                    flex:20%;
                                    align-self: center;
                                    font-size: 2vw;
                                }
                                .functionsbuttons .text{
                                    flex: 80%;
                                    align-self: center;
                                    word-break: break-word;
                                    max-height: 10vh;
                                }

                .search-group{
                    display: flex;
                    flex-direction: column;
                    padding: 0 1em;
                }

                .search-group input{
                    flex: 1;
                    padding: 1em;
                    font-size: 1.5vw;
                    border-radius: 10px;
                }

                .search-group input:focus{
                    outline: none;
                }

                /*</editor-fold>*/

            /*<editor-fold desc="modal-overwrite">*/
                .tameiocontainer .modal{
                   top:5vh !important;
                    left: 25vw !important;
                    max-height: 72vh;
                }


                .tameiocontainer .modal-content{
                    display: flex;
                    flex-direction: column;
                    min-height: 71vh;
                }

                .tameiocontainer .modal-dialog{
                    width: 75vw;
                    margin: 0;
                }

                .modal-header{
                    background-color: #1a1b1c;
                    color: white;
                }

                #merikoModal{
                    top:5vh !important;
                    left: 0 !important;
                    max-height: 100% !important;
                }

                #merikoModal .modal-dialog{
                    width: 100% !important;
                    height: 100% !important;
                }

                #merikoModal .modal-content{
                    height: 100% !important;
                }

                #searchCustomerModal{
                    max-height: 100% !important;
                }

                #bcodeModal .modal-content{
                    min-height: 0 !important;
                }

                #bcodeModal .modal-header{
                    color: black !important;
                }


            /*</editor-fold>*/

            /*<editor-fold desc="table-overwrite">*/

            table{
                font-size: 1.5vw;
            }

            /*</editor-fold>*/

            .submitbtn{
                color: #56a256;
                border: none;
                background-color: inherit;
                outline: none;
                font-size: 2vw;
            }

/*<editor-fold desc="alert-msg">*/

.errormsg{
     color: red;
     font-size: 1.3em;
 }

.successmsg{
    color: green;
    font-size: 1.3em;
}

.infomsg{
    color: #3e3ed1;
    font-size: 1.3em;
}
/*</editor-fold>*/

/*<editor-fold desc="modal-choose_bcode">*/
.flexgroup{
    display: flex;
    flex-direction: column;
}

    .flexrow{
        display: flex;
        flex-direction: row;
        background-color: #ebe4d9;
        margin: 1em;
        padding: 1em;
    }

        .groupDesc{
            flex: 90%;
            align-self: center;
            text-align: left;
            padding-left: 2em;
            font-size: 1.3vw;
        }

        .groupbut{
            font-size: 2vw;
            height: 8vh;
            border-radius: 10px;
            background-color: white;
            color: green;
            flex: 10%;
        }

.close{
    color: white !important;
    font-size: 3em;
    opacity: .8 !important;
}

.closeModalBtn{
    font-size: 1.5vw;
    width: 40%;
    border-radius: 10px;
    background-color: #364f65;
    color: white;
}

#oneCent{
    background-image: url("../img/moneyIcons/1cent.png");
}
#twoCent{
    background-image: url("../img/moneyIcons/2cent.png");
}
#fiveCent{
    background-image:url("../img/moneyIcons/5cent.png");
}
#tenCent{
    background-image:url("../img/moneyIcons/10cent.png");
}
#twentyCent{
    background-image:url("../img/moneyIcons/20cent.png");
}
#fiftyCent{
    background-image:url("../img/moneyIcons/50cent.png");
}
#oneEuro{
    background-image:url("../img/moneyIcons/1euro.png");
}
#twoEuro{
    background-image:url("../img/moneyIcons/2euro.png");
}
#fiveEuro{
    background-image:url("../img/moneyIcons/5euro.png");
}
#tenEuro{
    background-image:url("../img/moneyIcons/10euro.png");
}
#twentyEuro{
    background-image:url("../img/moneyIcons/20euro.png");
}
#fiftyEuro{
    background-image:url("../img/moneyIcons/50euro.png");
}

/*</editor-fold>*/

/*<editor-fold desc="search_customer-modal">*/
#searchCustomerModal .modal-content{
    min-height: auto !important;
}

.search_column{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

    .search_column input{
        flex: 4;
        font-size: 1.5vw;
        color: black;
        background-color: aliceblue;
        margin: 3px;
        padding: 10px;
        border-radius: 5px;
    }

    .search_column button{
        flex: 1;
        border: none;
        background-color: inherit;
        font-size: 2vw;
    }

    .search_msg{
        flex: 4;
        color: #910200;
        font-size: 1.3vw;
    }

.customer_form{
    display: flex;
    flex-direction: column;
}

.modal_row{
    display: flex;
    flex-direction: row;
    flex: 1;
}
    .modal_row input,select{
        flex: 1;
        max-width: 49%;
        font-size: 1.5vw;
        color: black;
        background-color: aliceblue;
        margin: 3px;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .inline_row{
        flex: 1;
        display: inline-flex;
        justify-content: flex-end;
    }

       .inline_row span{
           align-self: center;
           font-size: 1.2vw;
           font-weight: bold;
           padding: 10px;
       }

       .eispraksi{
           font-size: 3vw;
           outline: none;
           background-color: inherit;
           color: #336233;
           border: 1px solid #54884e;
           border-radius: 5px;
           padding: 0 20px;
       }

           .eispraksi:focus{
               border: 1px solid #54884e !important;
           }

           .eispraksi:active{
               border:none !important;
           }
/*</editor-fold desc="search_customer-modal">*/


    /*</editor-fold>*/

