.navbarFixed {
    background: #111;
    color: #818181;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5vw;
    max-width: 100vw;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
}
    .navbarFixed button:focus{
        outline:none;
    }

    .navbar-buttons{
        height: 10vh;
        display: flex;
        flex-direction: row;
        flex: 1;
        background-color: transparent;
        justify-content: space-between;
        border: none;
        border-right: #818181 dotted;
        outline: none;
    }
        .navbar-buttons i{
            flex: 1;
        }

    .menu{
        flex:2;
        display: flex;
        flex-direction: row;
    }

    .utilities{
        flex:1;
        display: flex;
        flex-direction: row;
    }

    .info{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
        .date{
            display: flex;
            align-items: center;
            flex:1;
        }
        .user{
            display: flex;
            flex: 2;
            border: none;
        }
            .username{
                flex: 2;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 1.5vw;
            }
            .user i{
                flex: 1;
                display: flex;
                background-color: transparent;
                justify-content: flex-start;
                border: none;
            }

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width:100vw;
    overflow: hidden;
}