.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:35%;
    left: 45%;
}

.container {
    height:90vh;
    width:100vw;
    max-width:100vw;
    display: flex;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-right: 2px solid #e9e9e9;
    padding: 2px 0;
    min-width: 5vw;
    position: absolute;
    z-index: 1;
    height: 90vh;
}

.sidebuts{
    height: 10vh;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #665e5e;
    background-color: #f6f6f6;
    border: none;
    display: inline-flex;
}
    .sidebuts:hover {
        background-color: #ededed;
    }


    .sidebuts:active {
        background-color: #ededed;
    }

        .sidebuts i{
            text-align: start;
            align-self: center;
            padding-left: 5px;
        }

        .sidebuts span{
            flex:1;
            padding: 0 10px;
            text-align: center;
        }


.maincolumn{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    overflow-x: hidden;
    background-color: #f3f3f1;
    width: 100%;
    margin-left: 5vw;
}

.formTab{
    padding: 15px 10px;
    border: 4px solid rgb(232, 232, 232);
    border-radius: 11px;
    background-color: white;
}

.date_options{
    flex: 1;
    font-size: 1.5vw;
}

.statistics{
    flex: 3;
    display: flex;
    flex-direction: row;
}

.canvas_container{
    flex: 2;
    padding: 5em 0;
}

.table{
    text-align: right;
}

.table th{
    text-align: right;
}

.table input{
    background-color: inherit;
}

.stats{
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #8c7878;
    font-size: 1.2vw;
    align-self: center;
    margin: 0 20px;
    position: relative;
    overflow-x: auto;
}
    .stats h3{
        text-align: center;
        flex: 1;
    }

    .printbut{
        background-color: #f2f2f2;
        border: 1px solid #cccbcb;
        outline: none;
        position: absolute;
        right: 60px;
        top: 0;
        font-size: 2vw;
    }

    .sinola{
        border:none;
        outline: none;
        width: 5vw;
        cursor: default;
        background-color: #f3f3f1;
        text-align: right;
    }

    .title_stats{
        flex: 1;
        font-size: 1.5em;
        padding-bottom: 0.5em;
        align-self: center;
        text-decoration: underline;
    }

    .reportstats{
        flex: 1;
        display: flex;
        flex-flow: column wrap;
        font-style: italic;
        align-items: center;
    }

        .statrow{
            flex: 25%;
        }



.ch_date{
    display: flex;
    flex-direction: row;
    text-align: center;
}

    .lastZita{
        flex:1;
        margin: 1em;
        padding: 0.5em 0.8em;
        background-color: #483635;
        color: #e0e0e0;
        border-radius: 20px 5px;
        box-shadow: 0 3px #adadad;
        outline: none;
    }

        .lastZita:hover{
            background-color: #2c2121;
        }

        .lastZita:active{
            background-color: #2c2121;
            box-shadow: 0 1px #adadad;
            transform: translateY(4px);

        }

        .date_fields{
            flex: 3;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
        }

.report_date{
    margin: 1em 0.5em;
    padding: 0.5em 0;
    border-radius: 0.5em;
    font-size: 1.4em;
    background-color: #f3f3f3;
    outline: none;
}

.datesearch{
    font-size: 3vw;
    background-color: inherit;
    border:none;
    margin:0 2px;
    outline: none;
}

    .datesearch:hover{
        color: #893834;
    }

/*<editor-fold desc="modal-overwrite">*/

.modal-header{
    background-color: #1a1b1c;
    color: white;
}
/*</editor-fold>*/


/*<editor-fold desc="alert-msg">*/

.errormsg{
    color: red;
    font-size: 1.5vw;
}

.successmsg{
    color: green;
    font-size: 1.5vw;
}

.infomsg{
    color: #3e3ed1;
    font-size: 1.5vw;
}

/*</editor-fold>*/
