.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:35%;
    left: 45%;
}

.container {
    height:100vh;
    width:100vw;
    max-width:100vw;
    display: flex;
    padding: 5vw 15vw;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    overflow-style: move;
}

.step-header{
    font-size: 1.6vw;
    border-bottom: 1px solid gray;
}

.step-details{
    padding: 20px 0;
    font-size: 1.4vw;
}

    .step-details input{
        height: 7vh;
        margin-bottom: 5px;
        text-align: center;
    }

.step-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    .step-actions button{
        font-size: 1.6vw;
    }

/*<editor-fold desc="alert-msg">*/

.errormsg{
    color: red;
    font-size: 1.5vw;
}

.successmsg{
    color: green;
    font-size: 1.5vw;
}

.infomsg{
    color: #3e3ed1;
    font-size: 1.5vw;
}
/*</editor-fold>*/