.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:35%;
    left: 45%;
}

.container {
    height:90vh;
    width:100vw;
    max-width:100vw;
    display: flex;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-right: 2px solid #e9e9e9;
    padding: 2px 0;
    min-width: 5vw;
    position: absolute;
    z-index: 1;
    height: 90vh;

}

.sidebuts{
    height: 10vh;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #665e5e;
    background-color: #f6f6f6;
    border: none;
    display: inline-flex;
}
.sidebuts:hover {
    background-color: #ededed;
}


.sidebuts:active {
    background-color: #ededed;
}

.sidebuts i{
    text-align: start;
    align-self: center;
    padding-left: 5px;
}

.sidebuts span{
    flex:1;
    padding: 0 10px;
    text-align: center;
}

.maincolumn{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    overflow-x: hidden;
    background-color: #f3f3f1;
    width: 100%;
    margin-left: 5vw;
}

.formTab{
    padding: 15px 10px;
    border: 4px solid rgb(232, 232, 232);
    border-radius: 11px;
    background-color: white;
}

.tabcontent{
    margin: 1em;
}

.panel-heading{
    color: #e6e4e4 !important;
    background-color: #3f3030 !important;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.accbtn{
    font-size: 2vw;
    display: grid;
    text-align: center;
    outline: none;

}


.accbtn:hover{
    text-decoration: none !important;
    outline: none;

}

.accbtn:focus{
    text-decoration: none !important;
    outline: none;
}

.formset{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

.rowform{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 2px 0;
}

.setbtn{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.setbtn button{
    color: #33cc33;
    font-size: 3vw;
    border: none;
    outline: none;
    background-color: white;
    flex: 1;
    align-self: center;
    max-width: 2em;
}

.setbtn button:active{
    font-size: 3.1vw;
}

.quickmessage{
    flex: 1;
    font-size: 1.5vw;
    color: #5fa75f;
    align-self: center;
}

.spanval{
    font-size: 1.5vw;
    flex: 1;
    align-self: center;
    text-align: right;
    margin-left: 3px;
}

.inputval{
    font-size: 1.8vw;
    flex: 3;
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    margin-left: 3px;
    width: 33.3%;
}

.inputval:focus{
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;
}

.togglesettingbut{
    font-size: 4vw;
    flex: 3;
    outline: none;
    border: none;
    padding: 20px 0;
}

    .togglesettingbut button{
        max-width: 3em;
        outline: none;
        border: none;
        background-color: inherit;
    }

.formbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.formbuttons button:active{
    font-size: 2.5em;
}

.submitbtn{
    color: #33cc33;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 3vw;
}

.resetbtn{
    color: #d60800;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 3vw;
}

.status{
    color: #394436;
    font-size: 3vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
}


.input_pass{
    background-color: inherit;
    font-size: 1.5em;
    width: 4em;
    border: none;
}

.user_rights{
    background-color: inherit;
    border: none;
    font-weight: bold;
    text-align: right;
}

.table{
    font-size: 1.5vw;
}

input[type=checkbox],input[type=radio]{
    width: 3vw;
    height: 3vh;
}

/*<editor-fold desc="modal-overwrite">*/

.modal-header{
    background-color: #1a1b1c;
    color: white;
}
/*</editor-fold>*/

/*<editor-fold desc="nav overwrite">*/
.nav-tabs > li > a{
    font-size: 1.5vw !important;
    color: #8b6262;

}

.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:active,.nav-tabs > li.active > a:hover{
    font-size: 1.5vw !important;
    color: #555 !important;
}
/*</editor-fold>*/

/*<editor-fold desc="alert-msg">*/

.errormsg{
    color: red;
    font-size: 1.5vw;
}

.successmsg{
    color: green;
    font-size: 1.5vw;
}

.infomsg{
    color: #3e3ed1;
    font-size: 1.5vw;
}
/*</editor-fold>*/