body, html {
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 75px;
	text-shadow:3px 5px 8px #000;
	 -webkit-font-smoothing: antialiased;
}
.carousel{
	z-index: -99;
}

.carousel-item{
	max-height: 100vh;
}

.container-fluid{
	position: fixed;
	top:0;
	max-height: 100vh;
	overflow: hidden;
}

.small
{
	font-size: 25px;
	letter-spacing: 0px;
	font-family: 'Open Sans', sans-serif;

}

.medium
{
	font-size: 35px;
	letter-spacing: -1px;
	font-family: 'Open Sans', sans-serif;

}
.dimmed
{
	color: #fff;
}

.light
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.date, .time{
	padding-left:30px;
}

.time .sec {
	font-size: 25px;
	color: #fff;
	padding-left: 5px;
	position: relative;
	top: -35px;
}

.temp, .windsun, .forecast {
	float:right;
	padding-right:30px;
}

h2{
	font-size: 1em;
}

.receipt{
	background-color: rgba(255, 255, 255,0.89);
	border-radius: 1em;
	color: #000;
	font-size: x-large;
	text-shadow:3px 5px 8px #fff;
	-webkit-font-smoothing: antialiased;
	margin: 0 0.1em;
	border: groove black;
}

.receipt .col-md-center{
	overflow-y: move;
	max-height: 72vh;
}
#sunolo{
	font-size: xx-large;
}